*{
      margin:0;
      padding:0;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      box-sizing:border-box;
}
#nv{  
      display:flex;
      list-style-type: none;
      background-color:black;
}
#nv > *{
      font-size:19px;
      color:white;
      margin:2px 55px 2px 2px;
      padding:2px 2px 2px 40px;
}

#container{
      margin:40px 55px 2px 2px;
      padding:2px 2px 2px 40px; 
      display:flex;
      justify-content:center;
      align-items:center;
      position: relative;
}
#cont{
      display:grid;
      grid-template-columns:auto auto auto;
      
      
}
#cont > *{
      list-style-type: none;
      font-size: 75px;
      width: 130px;
      height: 130px;
      text-align: center;
      justify-content: center;
      border:2px solid rgb(10, 236, 44);
}
#celebrate{
      width:180px;
      height:180px;
      margin:auto;
      text-align: center;
      
}
#celebrate img{
      margin:12px 0px 0px 0px;
      visibility: hidden;
      width:200px;
      height:200px;
}
#turn {
      margin:12px 0px 14px 0px;
}
#line{
      color: aliceblue;
      opacity: 0;
      background-color: rgb(228, 213, 47);
      height: 8px;
      width: 1px;
      position: absolute;
}